<!doctype html>
<html lang="es">
  <head>
    <title>Crud</title>
  </head>
  <body>
    <div >
        <a href="/create">nuevo</a>
        
        <table>
            <thead>
                <tr>
                    <th scope="col">nombredelinvocador</th>
                    <th scope="col">main</th>
                    <th scope="col">rol</th>
                    <th scope="col">servidor</th>
                    <th scope="col">acciones</th>
                </tr>
            </thead>
            <tbody>
                <% results.forEach((user)=>{ %>
                <tr>
                    <td><%=user.nombredeinvocador%></td>
                    <td><%=user.main%></td>
                    <td><%=user.rol%></td>
                    <td><%=user.servidor%></td>
                    <td>
                        <a href="/edit/<%= user.id %>" class="btn btn-outline-info">editar</a>
                        <a href="/delete/<%= user.id %>" class="btn btn-outline-danger">eliminar</a>
                    </td>
                </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
  </body>
</html>